h1{
    color: rgb(34, 34, 193);
    text-align: center;
}
h2{
    color: black;
    text-align: center;
}
.container{overflow:hidden;width:100%; text-align: center}
.box{white-space:nowrap}
.box div{width:200px;display:inline-block;border:1px solid black}
